<p id="notice"><%= notice %></p>

<!-- <h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %> -->

    <div class="jumbotron" style="margin-bottom:30px;margin-top: 50px; padding-top: 105px;color: rgba(255,255,255,0.6);/*background: url('https://i.imgur.com/nbpy2UH.jpg'),#3c434a*/background: #1d1d1d url(https://i.imgur.com/Y2vL5cv.png) no-repeat right center;/*background-position: center 10%;*/ background-attachment: fixed;/*background-position: center;*/background-repeat: no-repeat;/*background-size: cover;*/">
    <div class="container" style="text-align: center; color: white;padding-bottom: 20px">
        <p style="font-size: 90px;margin-bottom: 40px"><b>NEAR</b>SKY</p>
        <p style="padding-right: 18%;padding-left: 18%;font-family: Roboto;font-weight: 300"><b>NEAR</b>SKY adalah situs yang menyediakan tutorial & screencast pemrogramman ruby dengan bahasa indonesia.</p>
        <p style="margin-top: 40px">
        
            <a class="play-trigger" data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false" style="color: white;font-family: Roboto;font-weight: 300;text-decoration: none;cursor: pointer;"><img class="play-icon" src="https://www.rubypedia.com/resources/images/play-icon.svg" alt="" style="margin-right: 10px;">Lihat Selengkapnya</a>
        </p>
    </div>
</div>
    <div class="container">
      <div class="row">

        <% @blogs.each do |blog| %>
              
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-content">
                      <strong><p style="font-size: 20px"><%= blog.title %></p></strong>
                      <hr>
                      <p style="font-size: 14px"><%= blog.content %></p>
                      <p style=""><%= link_to 'Show', blog, class: 'btn btn-primary', style:'color:#fff' %></p>
                    </div>
                  </div>
                </div>

        <% end %>
  
      </div>
    </div>
